@keyframes change-image {
    0% {
        background-image: url(../images/Martin\ 1.png)
    }
    25% {
        background-image: url(../images/MGARRIX.jpg)
    }
    75% {
        background-image: url(../images/Martin-Garrix-2019_1-373x560.jpg)
    }
    100% {
        background-image: url(../images/Martin-Garrix-Head-Shot.jpg)
    }
}

.violet {
    background-color: #BEB7DF;
}

.whitetext {
    color: white
}

.gold {
    color: gold
}

.box-animation:hover {
    animation-name: change-image;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    padding: 400px 500px
}

.whitebackground {
    background-color: azure
}

hr.double {
    height: 10px;
    border-top: 5px double#373D43
}

hr {
    height: 10px;
    border-top: 5px double#f4f7fa
}

.right {
    text-align: left
}

.bluebackground {
    background-color: #17c1d8
}

.defaulttext {
    color: #4f99fa
}

body {
    background-color: #D4F2D2
}

h1.padding {
    padding-bottom: 60px;
    padding-top: 60px;
}

.edges {
    border-radius: 10px;
}

#floatimage1 {
    float: left;
}