@keyframes change-image {
    0% {
        background-image: url(../images/Martin\ 1.png);
    }
    25% {
        background-image: url(../images/MGARRIX.jpg);
    }
    75% {
        background-image: url(../images/Martin-Garrix-2019_1-373x560.jpg);
    }
    100% {
        background-image: url(../images/Martin-Garrix-Head-Shot.jpg);
    }
}

.violet {
    background-color: #beb7df;
}

.whitetext {
    color: white;
}

.gold {
    color: gold;
}

.box-animation:hover {
    animation-name: change-image;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    padding: 200px 200px;
}

.whitebackground {
    background-color: azure;
}

hr.double {
    height: 10px;
    border-top: 5px double#373D43;
}

hr {
    height: 10px;
    border-top: 5px double#f4f7fa;
}

.right {
    text-align: left;
}

.bluebackground {
    background-color: #17c1d8;
}

.defaulttext {
    color: #4f99fa;
}

body {
    background-color: #d4f2d2;
}

h1.padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.edges {
    border-radius: 10px;
}

#floatimage1 {
    float: left;
}

.dark {
    background-color: #373d43;
}

.red {
    background-color: rgb(224, 55, 13);
}

.ora {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: rgb(7, 194, 7);
}

.blue {
    background-color: rgb(0, 225, 255);
}

.indigo {
    background-color: indigo;
}

.vilet {
    background-color: violet;
}